.title-bar,
.title-bar-b {
	z-index: 1000;
	position: sticky;
	top: 0;
	width: 100%;
	height: max-content;
	display: flex;
	align-items: center;
	border-bottom: solid 1px hwb(200 20% 0% / 0.8);
	/* @/app/global.cssから拝借 */
	box-shadow: 0px 4px 8px var(--semantic-shadow-default);
}

.page-title {
	text-align: center;
	color: #008;
	flex: 1;
	font-weight: bold;
}

.page-title span {
	padding-right: 0.1em;
}

.back-button {
	color: #008;
	cursor: pointer;
}

.page-title,
.back-button {
	height: 80%;
}
