@font-face {
	font-family: "LINE Seed JP";
	font-style: normal;
	font-weight: bold;
	src:
		local("LINESeedJP_OTF_Bd.woff2"),
		url("https://cdn.jsdelivr.net/npm/line-seed-jp@0.0.5/woff2/LINESeedJP_OTF_Bd.woff2");
}

@font-face {
	font-family: "LINE Seed JP";
	font-style: normal;
	font-weight: normal;
	src:
		local("LINESeedJP_OTF_Rg.woff2"),
		url("https://cdn.jsdelivr.net/npm/line-seed-jp@0.0.5/woff2/LINESeedJP_OTF_Rg.woff2");
}

@font-face {
	font-family: "LINE Seed JP";
	font-style: normal;
	font-weight: 300;
	src:
		local("LINESeedJP_OTF_Th.woff2"),
		url("https://cdn.jsdelivr.net/npm/line-seed-jp@0.0.5/woff2/LINESeedJP_OTF_Th.woff2");
}

@font-face {
	font-family: "LINE Seed JP";
	font-style: normal;
	font-weight: 900;
	src:
		local("LINESeedJP_OTF_Eb.woff2"),
		url("https://cdn.jsdelivr.net/npm/line-seed-jp@0.0.5/woff2/LINESeedJP_OTF_Eb.woff2");
}

:root {
	--background: var(--semantic-background-white);
	--foreground: var(--semantic-text-dark);
	--font-noto-sans-jp: "Noto Sans JP", ui-sans-serif, system-ui, sans-serif;
	--font-michroma: "Michroma", ui-sans-serif, system-ui, sans-serif;
	--font-line-seed-jp: "LINE Seed JP", ui-sans-serif, system-ui, sans-serif;
	--font-zen-maru-gothic:
		"Zen Maru Gothic", ui-sans-serif, system-ui, sans-serif;
	color-scheme: only light;
	--themecolor-main-class-one: #24b23b;
	--themecolor-main-class-two: #23cccc;
	--themecolor-main-class-three: #a68f74;
	--themecolor-main-class-four: #f252c5;
	--themecolor-main-class-five: #6c1400;
	--themecolor-main-class-six: #d6a766;
	--themecolor-main-whole: #ffad19;
	--thmecolor-sub-whole: #f2d8aa;
	--thmecolor-sub-class-one: #aaf2b5;
	--thmecolor-sub-class-two: #aaf2f2;
	--thmecolor-sub-class-three: #f2d2aa;
	--themecolor-sub-class-four: #f2aade;
	--themecolor-sub-class-five: #f2b7aa;
	--thmecolor-sub-class-six: #f2d4aa;
}

html,
body {
	@media (prefers-color-scheme: dark) {
		color-scheme: only light;
	}

	margin: 0;
}

main > * {
	grid-column: 1 / -1;
}

h1 {
	font-size: 2.5rem;
	color: var(--semantic-text-dark);
	margin-left: var(--semantic-space-medium);
}

*{
	font-family:var(--font-line-seed-jp), sans-serif;
}