@font-face {
	font-family: "LINE Seed JP";
	font-style: normal;
	font-weight: bold;
	src: local("LINESeedJP_OTF_Bd.woff2");
}

@font-face {
	font-family: "LINE Seed JP";
	font-style: normal;
	font-weight: normal;
	src: local("LINESeedJP_OTF_Rg.woff2");
}

@font-face {
	font-family: "LINE Seed JP";
	font-style: normal;
	font-weight: 300;
	src: local("LINESeedJP_OTF_Th.woff2");
}

@font-face {
	font-family: "LINE Seed JP";
	font-style: normal;
	font-weight: 900;
	src: local("LINESeedJP_OTF_Eb.woff2");
}

:root {
	--background: var(--semantic-background-white);
	--foreground: var(--semantic-text-dark);
	--font-noto-sans-jp: "Noto Sans JP", ui-sans-serif, system-ui, sans-serif;
	--font-michroma: "Michroma", ui-sans-serif, system-ui, sans-serif;
	--font-line-seed-jp: "LINE Seed JP", ui-sans-serif, system-ui, sans-serif;
	--font-zen-maru-gothic:
		"Zen Maru Gothic", ui-sans-serif, system-ui, sans-serif;
	color-scheme: only light;
	--themecolor-class-one: #A9F2B5;
	--themecolor-class-two: #A9F2F2;
	--themecolor-class-three: #F2D1A9;
	--themecolor-class-four: #F2CFA9;
	--themecolor-class-five: #F2B6A9;
	--themecolor-class-six: #F2D3A9;
	--themecolor-main: #F2D7A9;
}

html,
body {
	@media (prefers-color-scheme: dark) {
		color-scheme: only light;
	}

	margin: 0;
}

main>* {
	grid-column: 1 / -1;
}

h1 {
	font-size: 2.5rem;
	color: var(--semantic-text-dark);
	margin-left: var(--semantic-space-medium);
}