.PopUpCloseButtonDiv {
	display: flex;
	align-items: center;
	justify-content: center;
}

.selectHeader {
	grid-column: 2 / span 10;
}

.selectProducts {
	grid-column: 2 / span 10;
}

.selectButtom {
	grid-column: 1 / 13;
}

.selectButtomContent {
	z-index: 30;
	padding: var(--semantic-space-1);
	border-radius: var(--semantic-radius-circle);
	box-shadow: 0px -10px 10px -3px var(--semantic-shadow-default);
}
