.topVisualContainer {
	position: relative;
	margin: 0;
	width: 100vw;
	height: 100vh;
	grid-column: 1 / -1;
}

.topVisual {
	width: 100vw;
	height: 100vh;
}

.topImage {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	object-fit: cover;
}

.top_visual_info {
	position: absolute;
	bottom: calc(100vh - 100svh);
	color: #212126;
	margin: 0 var(--semantic-space-1);
}

.subtitle {
	font-family: var(--font-zen-maru-gothic);
	font-size: var(--semantic-font-size-s);
}

.title {
	font-family: var(--font-zen-maru-gothic);
	font-size: 3rem;
	line-height: 3.4rem;
	font-weight: 500;
	margin: 0;
	display: inline-block;
	border-bottom: 2px solid #212126;
}

.infoText {
	font-family: var(--font-zen-maru-gothic);
	font-size: var(--semantic-font-size-l);
	margin: var(--semantic-space-1) 0;
	line-height: 1.1rem;
}

.mainHeading {
	font-size: 2.5rem;
	padding-left: var(--semantic-space-medium);
	font-weight: 700;
	margin: 96px 0 var(--semantic-space-1) 0;
}

.subHeading {
	padding-left: 10px;
	font-size: var(--semantic-font-size-l);
	font-weight: 700;
}

.mainHeading1 {
	grid-row: 2 / 3;
	grid-column: 1 / -1;
}

.cardContainer {
	grid-row: 3 / 4;
	grid-column: 1 / -1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cardWrapping {
	display: flex;
	width: min(96%, 600px);
	flex-wrap: wrap;
	justify-content: left;
	align-items: flex-start;
	align-content: flex-start;
	margin-left: 1rem;
}

.detailsCardContainer {
	grid-row: 4 / 5;
	grid-column: 1 / -1;
	display: flex;
	justify-content: center;
}

.detailsContent {
	margin: var(--semantic-space-small) 0;
}

.mainHeading2 {
	grid-row: 5 / 6;
	grid-column: 1 / -1;
}

.mapContainer {
	width: 100%;
}

.GooglemapContainer {
	position: relative;
	width: 80%;
	margin: 0 auto;
}

.Googlemap {
	aspect-ratio: 16 / 9;
	border: none;
	border-radius: var(--semantic-radius-medium);
}
