/* 各クラスの一般メニュー用カード */
.menuCard {
	position: relative;
	display: grid;
	grid-template-rows: 5rem 5rem;
	outline: 1px solid;
	border-radius: var(--semantic-radius-small);
	background-color: var(--semantic-background-white);
	width: 10rem;
	height: 10rem;
	margin: 10px;
	overflow: hidden;
}

.menuCardAll {
	position: relative;
	display: grid;
	grid-template-rows: 5rem 5rem;
	outline: 1px solid;
	border-radius: var(--semantic-radius-small);
	background-color: var(--semantic-background-white);
	width: 10rem;
	height: 10rem;
	margin: 10px;
	overflow: hidden;
	box-shadow: 0 0 5px 3px rgb(0 0 0 / 25%);
}

.cardText {
	position: relative;
	width: 10rem;
	grid-template-rows: 1fr 1fr;
	font-size: var(--semantic-font-size-s);
}

.pickMenuName,
.menuName {
	word-break: break-all;
	margin: var(--semantic-space-small);
	font-weight: bolder;
}

.pickPrice,
.price {
	position: absolute;
	display: inline-block;
	right: 0;
	bottom: 0;
	font-weight: bolder;
	font-size: var(--semantic-font-size-xl);
	margin: var(--semantic-space-small);
}

.priceUnit {
	font-size: 0.67em;
}

.productImage {
	position: relative;
	width: 100%;
	height: 100%;
}

.productImage > img {
	height: 100%;
	width: 100%;
	display: flex;
	object-fit: cover;
	background-color: var(--semantic-color-accent);
	color: var(--semantic-text-white);
}

.productImage > p {
	position: absolute;
	top: 0;
	left: 5px;
	margin-top: 0;
	z-index: 1;
	font-weight: bolder;
	color: var(--semantic-text-white);
}

.decoration_ul {
	position: absolute;
	width: 65.5px;
	top: 0;
	left: 0;
}

.decoration_dr {
	position: absolute;
	width: 39px;
	right: 0;
	bottom: 0;
}

/* 激推しメニュー用カード（nameとpriceは共通） */
.pickMenuCard {
	display: grid;
	grid-template-rows: 5.7rem 5.6rem;
	border: 1px solid;
	border-radius: var(--semantic-radius-small);
	background-color: var(--semantic-background-white);
	width: 11.3rem;
}

.pickMenuCard Image {
	display: flex;
	background-color: var(--semantic-color-accent);
	color: var(--semantic-text-white);
	font-size: 1.13rem;
}

.pickCardText {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 1rem;
}

.Link {
	text-decoration: none;
	color: var(--semantic-text-dark);
}