.cardImg {
	width: 156px;
	height: 156px;
	margin: var(--semantic-space-0-5);
	padding: var(--semantic-space-medium);
	white-space: pre-wrap;
	background-color: aquamarine;
	border: 1px solid var(--semantic-background-white);
	box-shadow: 0px 4px 4px var(--semantic-shadow-default);
	border-radius: var(--semantic-radius-medium);
}

.title {
	margin: var(--semantic-space-small) 0;
}
