.body{
    display: flex;
    flex-direction: row;
    width: min(30rem,90vw);
    border-top: 1px solid var(--semantic-text-dark);
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}
.body img{
    display: flex;
    background-color: var(--semantic-color-accent);
    color: var(--semantic-text-white);
    margin-right: 10px;
    margin-left: 10px;
}
.texts{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.name{
    display: flex;
    margin-top: 5px;
}
.values{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 5px;
}
.number{
    display: flex;
    margin-left: 5px;
    margin-right: auto;
}
.price{
    display: flex;
    margin-left: auto;
    margin-right: 5px;
}