.card {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: var(--semantic-radius-small);
	background-color: var(--semantic-background-white);
	width: min(35rem, 80vw);
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 10px;
}

.cardButton {
	background: transparent;
	border: none;
}

.main {
	display: flex;
	flex-direction: row;
	position: relative;
	z-index: 994;
}

.productImage {
	position: relative;
	height: 100%;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.productImage > img {
	height: 100%;
	display: flex;
	object-fit: cover;
	background-color: var(--semantic-color-accent);
	color: var(--semantic-text-white);
}

.productImage > p {
	position: absolute;
	top: 0;
	left: 5px;
	margin-top: 0;
	z-index: 1;
	font-weight: bolder;
}

.decoration_ul {
	position: absolute;
	width: 65.5px;
	top: 0;
	left: 0;
}

.decoration_dr {
	position: absolute;
	width: 39px;
	right: 0;
	bottom: 0;
}

.express {
	position: absolute;
	left: 0px;
	top: 0px;
	rotate: -20deg;
	border-radius: var(--semantic-radius-medium);
	background-color: var(--semantic-color-accent);
	color: var(--semantic-text-white);
	font-size: 1rem;
	z-index: 2;
}

.menuPrice {
	display: flex;
	flex-direction: column;
	font-size: 1.25rem;
	font-weight: bolder;
	width: 100%;
}

.menu {
	margin-top: 5px;
}

.bottom {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.bottom > button {
	font-size: 1rem;
	display: flex;
	justify-content: center;
	border: none;
	margin-left: auto;
	margin-right: 5px;
	margin-bottom: 3px;
	margin-top: 5px;
	width: fit-content;
	padding-left: 5px;
	padding-right: 5px;
	background-color: var(--semantic-background-white);
	color: var(--semantic-text-dark);
	position: relative;
	z-index: 1000;
}

.price {
	margin-top: auto;
	margin-bottom: 5px;
}

.priceUnit {
	font-size: 0.67em;
}

.card button:hover {
	cursor: pointer;
}

.ingredients {
	display: flex;
	flex-direction: column;
	border-top: 1px solid black;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}

.allergen {
	display: flex;
	flex-direction: column;
}

.otherIngredients {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
