.body {
	display: flex;
	flex-direction: column;
	width: 100vw;
}

.pr {
	display: flex;
	flex-direction: column;
}

.pr img {
	width: 100vw;
	aspect-ratio: 1 / 1;
}

.pr p {
	margin: var(--semantic-space-medium);
	max-width: 40rem;
	font-size: 1rem;
	font-family: var(--font-noto-sans-jp), sans-serif;
}

.menu {
	display: flex;
	flex-direction: column;
}

.topMenu {
	display: flex;
	flex-direction: column;
}

.topMenu h2 {
	text-align: center;
	margin: var(--semantic-space-large) 0;
	color: var(--semantic-color-accent);
	font-size: 2rem;
}

.topBack {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: var(--themecolor-main);
}

.topCenter {
	width: fit-content;
	margin: 0 auto;
}

.otherMenu {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}

.otherMenu h2 {
	text-align: center;
	margin: var(--semantic-space-large) 0;
	margin-top: 64px;
	color: var(--semantic-color-accent);
}

.cardback {
	width: 100vw;
	padding-top: 10px;
	padding-bottom: 10px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	width: 25rem;
	margin-left: auto;
	margin-right: auto;
}

.place {
	display: flex;
	flex-direction: column;
}

.place>h1 {
	position: relative;
	width: 100%;
}

.body Button {
	display: flex;
	margin: var(--semantic-space-large) auto;
	width: min(70vw, 40rem);
	color: var(--semantic-text-white);
	box-shadow: 0px 4px 4px var(--semantic-shadow-default) !important;
}